{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
	<link rel="stylesheet" href="css/css-card.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/panier.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}
{% block title %}
	{{parent()}}My cart
{% endblock %}

{% block body %}


	<div id="cart-container">
		{% if  app.user.panier is null or app.user.panier.ajouters | length == 0 %}
			<div class="back-panier">

				<h1 class="text-center box_blur_panier">Your cart is empty</h1>
				<div class="d-flex justify-content-center align-items-center" style="min-height:40vh;">
					<a href="{{ path('app_accueil') }}" class="btn btn-dark px-4 py-3 fw-semibold">
						So continue shopping here
						<i class="bi bi-arrow-right-square"></i>
					</a>
				</div>
			</div>
		{% else %}
		<div class="back-panier">
			<h1 class="text-center box_blur_panier">Your cart</h1>
			<div class="container-wrap-recu">
				<div class="wrap wrap-panier">
					{% set prixtotal = 0 %}
					{% for ajouter in app.user.panier.ajouters|sort((a, b) => a.produit.name <=> b.produit.name) %}


						<div
							class="card_anime" data-id="returner">
							<a href="javascript:void(0);" data-auth="true" class="favori-toggle" data-id="{{ ajouter.produit.id }}" data-url="{{ path('app_favori', {'id': ajouter.produit.id}) }}">

								{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
									<i class="bi bi-heart favori"></i>
								{% else %}
									{% if ajouter.produit in app.user.produits %}
										<i class="bi bi-heart-fill favori"></i>
									{% else %}
										<i class="bi bi-heart favori"></i>
									{% endif %}
								{% endif %}
							</a>
							<a href="{{ path('app_panier_annihiler', {'id': ajouter.produit.id}) }}" class="annihiler-panier">
								<i class="bi bi-trash-fill supprimer"></i>
							</a>

							{% set image = 'images/img_produit/'~ ajouter.produit.image %}
							<div class="div_card_img">
								<img class="card-img-top" src="{{asset(image)}}" alt="Image de {{ajouter.produit.designation}} ">
							</div>
							<div class="card_content">
								<p class="name">{{ajouter.produit.name}}</p>
								<p class="explain">{{ajouter.produit.designation}}</p>
								<p class="price">{{ajouter.produit.prix|number_format(2, '.', '') }}€</p>
								{% set prixtotal = prixtotal + ( ajouter.produit.prix * ajouter.quantite ) %}
							</div>

							<div class="ajout_panier">

								<a href="{{ path('app_panier_supprime', {'id': ajouter.produit.id}) }}" class="btncard remove-panier" data-id="{{ ajouter.produit.id }}">
									-
								</a>
								<p class="in-panier">{{ ajouter.quantite}}</p>

								<a href="{{ path('app_panier', {'id': ajouter.produit.id}) }}" class="ajout-panier btncard" data-id="{{ ajouter.produit.id }}">+</a>
							</div>

						</div>


					{% endfor %}
				</div>


				<div class="recu">
					<h2 class="recu-title">Résumé de commande</h2>

					<div class="recu-line">
						<span>Sous-total</span>
						<span id="subtotal">{{ prixtotal|number_format(2, '.', '') }}
							€</span>
					</div>
					{% set prixTVA =  prixtotal * 0.2 %}

					<div class="recu-line">
						<span>TVA (20%)</span>
						<span id="tva">{{ prixTVA|number_format(2, '.', '') }}
							€</span>
					</div>

					<div class="recu-divider"></div>
					{% set prixTotalTVA = prixtotal + prixTVA %}
					<div class="recu-total">
						<span>Total</span>
						<span id="total">{{ prixTotalTVA|number_format(2, '.', '') }}
							€</span>
					</div>




					<button class="checkout-btn">Payer maintenant</button>


					<p class="secure">🔒 Paiement sécurisé</p>
				</div>

			</div>
		</div>
		{% endif %}

	</div>

{% endblock %}
