{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}

<div class="register-page">

    <div class="register-overlay">

        <div class="register-container">

            <h1 class="register-title">
                Inscription
            </h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}

                <div class="form-group-custom">
                    {{ form_label(registrationForm.name) }}
                    {{ form_widget(registrationForm.name, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                <div class="form-group-custom">
                    {{ form_label(registrationForm.surname) }}
                    {{ form_widget(registrationForm.surname, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                <div class="form-group-custom">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                {#  ADRESSE #}
                <div class="form-group-custom">
                    {{ form_label(registrationForm.address) }}
                    {{ form_widget(registrationForm.address, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                <div class="form-group-custom">
                    {{ form_label(registrationForm.postalCode) }}
                    {{ form_widget(registrationForm.postalCode, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                <div class="form-group-custom">
                    {{ form_label(registrationForm.city) }}
                    {{ form_widget(registrationForm.city, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                <div class="form-group-custom">
                    {{ form_label(registrationForm.country) }}
                    {{ form_widget(registrationForm.country, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                {#  MOT DE PASSE #}
                <div class="form-group-custom">
                    {{ form_label(registrationForm.plainPassword.first, 'Mot de passe') }}
                    {{ form_widget(registrationForm.plainPassword.first, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                <div class="form-group-custom">
                    {{ form_label(registrationForm.plainPassword.second, 'Confirmer mot de passe') }}
                    {{ form_widget(registrationForm.plainPassword.second, { 'attr': { 'class': 'form-control' } }) }}
                </div>

                {#  CONDITIONS #}
                <div class="terms-container">
                    {{ form_widget(registrationForm.agreeTerms, {
                        'attr': { 'class': 'form-check-input' }
                    }) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                </div>

                <div class="submit-container">
                    <button class="submit-btn" type="submit">
                        S'inscrire
                    </button>
                </div>

            {{ form_end(registrationForm) }}

            <div class="login-link-container">
                <a class="login-link" href="{{ path('app_login') }}">
                    Vous avez déjà un compte ? Connectez-vous ici
                </a>
            </div>

        </div>

    </div>

</div>

{% endblock %}