{% extends 'base.html.twig' %}

{% block title %}NovaSprite
{% endblock %}

{% block body %}

	<div class="acceuil_pres">

		<div class="box_blur_acceuil">
			<h1 class="text-center display-1 fw-bold">NovaSprite</h1>

			<p class="text-center fw-bold">La référence en sprite et asset</p>


			{{render(controller('App\\Controller\\BaseController::recherche'))}}

		</div>
	</div>


	{{ include('components/carousel-produits.html.twig', {
    titre: 'Knight Gold Assets',
    mot: 'knight gold',
    produits: produits,
    filterBy: 'name'
}) }}
	{{ include('components/carousel-produits.html.twig', {
    titre: 'Boy Assets',
    mot: 'Boy',
    produits: produits,
    filterBy: 'name'
}) }}
	{{ include('components/carousel-produits.html.twig', {
    titre: 'Mask Frog Assets',
    mot: 'Mask Frog',
    produits: produits,
    filterBy: 'name'
}) }}
	{{ include('components/carousel-produits.html.twig', {
    titre: 'Giant Racoon Assets',
    mot: 'Giant Racoon',
    produits: produits,
    filterBy: 'name'
}) }}
	{{ include('components/carousel-produits.html.twig', {
    titre: 'Giant Slime Assets',
    mot: 'Giant slime',
    produits: produits,
    filterBy: 'name'
}) }}
	{{ include('components/carousel-produits.html.twig', {
    titre: 'Fish Assets',
    mot: 'Fish',
    produits: produits,
    filterBy: 'name'
}) }}


	{{ include('components/carousel-produits.html.twig', {
    titre: 'Tileset ',
    mot: 'Tileset',
    produits: produits,
    filterBy: 'designation'
}) }}


{% endblock %}
