{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
	<link rel="stylesheet" href="{{ asset('css/base.css') }}">
	<link rel="stylesheet" href="{{ asset('css/listeUtilisateur.css') }}">
{% endblock %}

{% block title %}
	{{ parent() }}Liste des utilisateurs
{% endblock %}

{% block body %}

	<div class="user-header">

		<h1 class="user-title">
			Liste des utilisateurs
		</h1>

	</div>

	<div class="page-wrapper">

		<div class="table-container text-primary">


			<div class="search-container">

				<i class="bi bi-search search-icon"></i>

				<input type="text" id="userSearch" class="user-search-input" placeholder="Rechercher un utilisateur...">

			</div>


			<div class="table-responsive shadow-sm rounded-4 overflow-hidden mt-4">

				<table class="table align-middle mb-0 custom-table">

					<thead class="table-dark">
						<tr class="text-uppercase small user-row">
							<th>Name</th>
							<th>Surname</th>
							<th>Email</th>
							<th>Date d'inscription</th>
						</tr>
					</thead>

					<tbody>

						{% for element in returns | sort((a, b) => b.DateInscription <=> a.DateInscription) %}

							<tr class="user-row">


								<td class="user-info-cell searchable">
									{{ element.name | capitalize }}
								</td>

								<td class="user-info-cell searchable">
									{{ element.surname | capitalize }}
								</td>

								<td class="email-cell searchable">
									{{ element.email | lower }}
								</td>

								<td>
									<span class="date-badge">
										{{ element.DateInscription | date("d-m-Y à H:i:s") }}
									</span>
								</td>

							</tr>

						{% endfor %}

					</tbody>

				</table>

			</div>

		</div>

	</div>

{% endblock %}
